SaveEventData2Cloudant.txt
[{"id":"378bcfec.067ab","type":"tab","label":"Flow 3"},{"id":"6eb738d3.1d4ce8","type":"ibmiot in","z":"378bcfec.067ab","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":156,"y":90,"wires":[["4bc9ce2.f86273"]]},{"id":"e68426df.f8b848","type":"cloudant out","z":"378bcfec.067ab","name":"","cloudant":"","database":"elevator_events","service":"cloudantNoSQLDB","payonly":true,"operation":"insert","x":479,"y":184,"wires":[]},{"id":"7a515a00.5c4888","type":"debug","z":"378bcfec.067ab","name":"","active":true,"console":"false","complete":"payload","x":433,"y":94.25,"wires":[]},{"id":"4bc9ce2.f86273","type":"function","z":"378bcfec.067ab","name":"","func":"msg.payload = msg.payload.d;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":197.5,"wires":[["7a515a00.5c4888","e68426df.f8b848"]]}]